# Introduction to Apache Spark lab, part 1: Basic concepts
This notebook guides you through the basic concepts to start working with Apache Spark, including how to set up your environment, create and analyze data sets, and work with data files.

This notebook uses pySpark, the Python API for Spark. Some knowledge of Python is recommended. This notebook runs on Python 2 with Spark 2.X.

If you are new to notebooks, here's how the user interface works: [Parts of a notebook](http://datascience.ibm.com/docs/content/analyze-data/parts-of-a-notebook.html)

## About Apache Spark
Apache Spark is a fast and general-purpose cluster computing system. It provides high-level APIs in Java, Scala, Python and R, and an optimized engine that supports general execution graphs. It also supports a rich set of higher-level tools including Spark SQL for processing structured data, MLlib for machine learning, GraphX for graph processing, and Spark Streaming.

<img src='https://github.com/carloapp2/SparkPOT/blob/master/spark.png?raw=true' width="50%" height="50%"></img>


A Spark program has a driver program and worker programs. Worker programs run on cluster nodes or in local threads. Data sets are distributed across workers. 

<img src='https://github.com/carloapp2/SparkPOT/blob/master/Spark%20Architecture.png?raw=true' width="50%" height="50%"></img>

## Table of Contents
In the first four sections of this notebook, you'll learn about Spark with very simple examples. In the last two sections, 
you'll use what you learned to analyze data files that have more realistic data sets.

1. [Work with the SparkSession](#sparkcontext)<br>
    1.1 [Invoke the SparkSession and get the version](#sparkcontext1)<br>
2. [Working with DataFrames](#rdd)<br>
    2.1 [Create a DataFrame](#rdd1)<br>
    2.2 [View the data](#rdd2)<br>
    2.3 [Create another DataFrame](#rdd3)<br>
3. [Manipulate data in DataFrames](#trans)<br>
    3.1 [Update numeric values](#trans1)<br>
    3.2 [Add numbers in an array](#trans2)<br>
    3.3 [Split and count strings](#trans3)<br>
    3.4 [Count words](#trans4)<br>
    3.5 [Explore a new function](#trans5)<br>
    3.6 [Use groupBy and count()](#trans6)<br>
4. [Filter data](#filter)<br>
5. [Analyze text data from a file](#wordfile)<br>
    5.1 [Get the data from a URL](#wordfile1)<br>
    5.2 [Create a DataFrame from the file](#wordfile2)<br>
    5.3 [Filter for a word](#wordfile3)<br>
    5.4 [Count instances of a string at the beginning of words](#wordfile4)<br>
    5.5 [Count instances of a string within words](#wordfile5)<br>
6. [Analyze numeric data from a file](#numfile)<br>
7. [Summary and next steps](#summary)

# Lab 1 - Hello Spark

This lab will introduce you to Apache Spark.  It is written in Python and runs in IBM's Data Science Experience environment through a Jupyter notebook.  While you work, it will be valuable to reference the [Apache Spark Documentation](http://spark.apache.org/docs/latest/programming-guide.html).  Since it is Python, be careful of whitespace!

<a id="sparkcontext"></a>
## Step 1 - Working with the SparkSession object

The Apache Spark driver application uses the SparkSession object to allow a programming interface to interact with the driver application. The SparkSession object tells Spark how and where to access a cluster.

The Data Science Experience notebook environment predefines the SparkSession for you.   This context variable will always be called 'spark'.


<a id="sparkcontext1"></a>
### Step 1.1 - Using the spark session object, reading the <i>version</i> attribute will return the working version of Apache Spark<br><br>
 <div class="panel-group" id="accordion-11">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-11" href="#collapse1-11">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-11" class="panel-collapse collapse">
      <div class="panel-body">The spark session is automatically set in a Jupyter notebook.   It is called: spark</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-11" href="#collapse2-11">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-11" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>spark.version</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-11" href="#collapse3-11">
        Optional</a>
      </h4>
    </div>
    <div id="collapse3-11" class="panel-collapse collapse">
      <div class="panel-body">Jupyter notebooks have command completion which can be invoked via the TAB key.<br>Type:<br>&nbsp;&nbsp;&nbsp;&nbsp;<i>spark.&lt;TAB&gt;</i><br>to see all the possible options within the Spark session</div>
    </div>
  </div>
</div>

In [ ]:
#Step 1 - Check spark version

<a id="rdd"></a>
## Step 2 - Working with DataFrames

Apache Spark uses an abstraction for working with data called a DataFrame. A DataFrame is a structured collection of elements with a schema that can be operated on in parallel. DataFrames are immutable, so you can't update the data in them. To update data in a DataFrame, you must create a new DataFrame. In Apache Spark, work is done by creating new DataFrames, transforming existing DataFrames, or using DataFrame to compute results. When working with DataFrames, the Spark driver application automatically distributes the work across the cluster.

You can construct DataFrames by parallelizing existing Python collections (lists), by manipulating DataFrames, or by manipulating files in HDFS or any other storage system.

You can run these types of methods on DataFrames: 
 - Actions: query the data and return values
 - Transformations: manipulate data values and return pointers to new DataFrames. 

Find more information on Python methods in the [PySpark documentation](http://spark.apache.org/docs/latest/api/python/pyspark.html).

<a id="rdd1"></a>
### Step 2.1 - Create a DataFrame with numbers 1 to 10

There are several ways to create DataFrame: parallelizing an existing collection, referencing a dataset in an external storage system which offers a Hadoop InputFormat -- or transforming an existing DataFrame.<br>
<br>
Create an iterable or collection in your program with numbers 1 to 10 as a DataFrame. Invoke the Spark Session's (spark) <i>range()</i> method on it.<br>

 <div class="panel-group" id="accordion-21">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-21" href="#collapse1-21">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-21" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
Use range(10) method on SparkSession object<br><br>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-21" href="#collapse2-21">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-21" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
df = spark.range(10)<br>
          You can use the show() method to display the DataFrame (e.g. df.show())<br>
      </div>
    </div>
  </div>
 </div>

In [ ]:
#Create a DataFrame with numbers 1 to 10


<a id="rdd2"></a>
### Step 2.2 - View the data
Return the first row in the DataFrame<br/><br/>
<div class="panel-group" id="accordion-22">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-22" href="#collapse1-22">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-22" class="panel-collapse collapse">
      <div class="panel-body">Use the <i>first()</i> method on the DataFrame to return the first row in a DataFrame.   You could also use the <i>take()</i> method with a parameter of 1.   first() and take(1) are equivalent.   Both will take the first row in the DataFrame's 0th partition.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-22" href="#collapse2-22">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-22" class="panel-collapse collapse">
      <div class="panel-body">Type: <br/>
df.first()</div>
    </div>
  </div>
</div>

In [ ]:
#Read the first row in the DataFrame

Each number is placed in a different row in the DataFrame. Because the first() method returned a value, it is an action.

### Step 2.3 - Return an array of the first five elements<br><br>
 <div class="panel-group" id="accordion-23">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-23" href="#collapse1-23">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-23" class="panel-collapse collapse">
      <div class="panel-body">Use the <i>take()</i> method</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-23" href="#collapse2-23">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-23" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
df.take(5)</div>
    </div>
  </div>
</div>

In [ ]:
#Step 2.3 - Return an array of the first five elements

<a id="rdd3"></a>
### 2.4 Create another DataFrame 
Create a DataFrame that contains multiple strings and print the value of the first string:

<div class="panel-group" id="accordion-26">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-26" href="#collapse1-26">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-26" class="panel-collapse collapse">
      <div class="panel-body">Create a variable with the Strings "Hello Human" and "My Name is Spark". Create as a list of Python tuples (need to add a "," after the string elements). Then use the  createDataFrame method from the SparkSession object with the variable as the parameter. You can also provide a schema as a list of column names. Note, in this case there is only 1 column</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-26" href="#collapse2-26">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-26" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
y = [("Hello Human",),("My Name is Spark",)]<br>
df_y = spark.createDataFrame(y,['text'])<br>
df_y.take(1)<br></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-26" href="#collapse3-26">
        Optional Advanced</a>
      </h4>
    </div>
    <div id="collapse3-26" class="panel-collapse collapse">
      <div class="panel-body">Is there a way to get the third element directly?</div>
    </div>
  </div>
</div>

In [ ]:
#Step 2.4.1 create a string array

Put the collection into a DataFrame:

In [ ]:
#Step 2.4.2 put the collection into a DataFrame

View the first element in the DataFrame:

In [ ]:
#Step 2.4.3 view the first element

You created the strings "Hello Human" and "My Name is Spark" and you returned "Hello Human" as the first row of the DataFrame. To analyze a set of words, you can "explode" each word into a DataFrame element.

<a id="trans"></a>
## 3. Manipulate data in DataFrames

Remember that to manipulate data, you use transformation functions. Need to update this section (BLB)

Here are some common Spark transformation functions that you'll be using in this notebook:

 - `map(func)`: returns a new RDD with the results of running the specified function on each element  
 - 

<a id="trans1"></a>
### 3.1 Update numeric values
Increment each number in the DataFrame by 1. 
<br/>
 <div class="panel-group" id="accordion-24">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-24" href="#collapse1-24">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-24" class="panel-collapse collapse">
      <div class="panel-body">Use the <i>select</i> function on the DataFrame, and increment the value in the column by 1. To obtain the value in the column use df.id Use the show() function to display the results. Note, you can use the columns attribute on a DataFrame to get the list of columns in the DataFrame <br>
</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-24" href="#collapse2-24">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-24" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
 df.select(df.id+1).show()</div>
    </div>
  </div>
 </div>

In [ ]:
# Step 3.1 - Write the select function

<a id="trans2"></a>
### 3.2 Sum the numbers in a DataFrame
Calculate the sum of the numbers in the DataFrame df

<div class="panel-group" id="accordion-21">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2-32" href="#collapse3-32">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse3-32" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
&nbsp;&nbsp;&nbsp;&nbsp;
Import the sum function from pyspark.sql.functions. Use the DataFrame select function with the argument sum(df.id) or sum("id"). Use the DataFrame show() function to display the result. You can also use the column alias function to name the "sum" column in the resulting DataFrame. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2-32" href="#collapse4-32">
        Solution</a>
      </h4>
    </div>
    <div id="collapse4-32" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
          from pyspark.sql.functions import sum <br>
 df.select(sum("id")).show()  or df.select(sum(df.id)).show() <br><br>
          Using the alias function <br>
          df.select(sum("id").alias("sum")).show()
      </div>
    </div>
  </div>

In [ ]:
#Step 3.2 Calculate the sum of the numbers in the DataFrame

<a id="trans3"></a>
### 3.3 Split and count text strings

Create a DataFrame with the following text strings and show the first element:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;"IBM Data Science Experience is built for enterprise-scale deployment."<br/>
&nbsp;&nbsp;&nbsp;&nbsp;"Manage your data, your analytical assets, and your projects in a secured cloud environment."<br/>
&nbsp;&nbsp;&nbsp;&nbsp;"When you create an account in the IBM Data Science Experience, we deploy for you a Spark as a Service instance to power your analysis and 5 GB of IBM Object Storage to store your data."<br/><br/>
 <div class="panel-group" id="accordion-27">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-27" href="#collapse1-27">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-27" class="panel-collapse collapse">
      <div class="panel-body">Recall you will need to create a list of tuples as input to the createDataFrame operation. The list of tuples is assigned as follows<br>
          text = [("String1",),("String2",),("String3",)]
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-27" href="#collapse2-27">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-27" class="panel-collapse collapse">
      <div class="panel-body">text = [("IBM Data Science Experience is built for enterprise-scale deployment.",),("Manage your data, your analytical assets, and your projects in a secured cloud environment.",),("When you create an account in the IBM Data Science Experience, we deploy for you a Spark as a Service instance to power your analysis and 5 GB of IBM Object Storage to store your data.",)]<br/>
text_df = spark.createDataFrame(text,['text'])<br>
text_df.first()<br>  
      </div>
    </div>

In [ ]:
#Step 3.3 create a DataFrame with the text strings. Recall that you need to create a list of tuples.

<a id="trans4"></a>
### Step 3.4 - Split all the entries in the DataFrame on the spaces.  Then print it out.  Pay careful attention to the new format.
<br/>
 <div class="panel-group" id="accordion-210">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-210" href="#collapse1-210">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-210" class="panel-collapse collapse">
      <div class="panel-body">To split on spaces, use the pyspark.sql.function <a href=""><i>split()</i></a> function on the column in the DataFrame. You will need to import the function</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-210" href="#collapse2-210">
        Hint 2</a>
      </h4>
    </div>
    <div id="collapse2-210" class="panel-collapse collapse">
      <div class="panel-body">Use the select function on the DataFrame to apply the split function to all the values in the text column. </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-210" href="#collapse3-210">
        Solution</a>
      </h4>
    </div>
    <div id="collapse3-210" class="panel-collapse collapse">
      <div class="panel-body">Type: <br>
          from pyspark.sql.functions import split <br>
          text_split_df = text_df.select(split("text"," ").alias("split_text")) <br>
          text_split_df.show() <br> </div>          
     </div>
    </div>

In [ ]:
#Step 3.4 Split entries in the DataFrame on spaces.

<a id="trans5"></a>
### Step 3.5 - Explore a new function: <a href="">explode</a>
<br/>
We want to count the words in <b>all</b> the lines. Currently each row in the DataFrame is now an array of words. We need to 'expode' the array so that each separate word is in its own row.  <br>
 <div class="panel-group" id="accordion-211">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-211" href="#collapse1-211">
        Hint </a>
      </h4>
    </div>
    <div id="collapse1-211" class="panel-collapse collapse">
        <div class="panel-body">Import the <i>explode</i> function from pyspark.sql.functions. Apply the explode function to the column in the DataFrame </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-211" href="#collapse2-211">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-211" class="panel-collapse collapse">
      <div class="panel-body">Type:<br/>
       from pyspark.sql.functions import explode <br>
       text_word_df = text_split_df.select(explode("split_text").alias("word"))<br>
       print "exploded words" <br>
       text_word_df.show() </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-211" href="#collapse3-211">
        Optional Advanced</a>
      </h4>
    </div>
    <div id="collapse3-211" class="panel-collapse collapse">
        <div class="panel-body">Import the <i>lower</i> and <i>regexp_replace</i> functions from pyspark.sql.functions. The <i>lower</i> will transform the words to lowercase. The <i>regexp_replace</i> will allow you to replace the "," and "." with null character.  The regular expression to use is "[\.,]" <br>
            from pyspark.sql.functions import lower,regexp_replace <br>
            print "lower case" <br>
            text_word_lower_df = text_word_df.select(lower(text_word_df.word).alias("word")) <br>
            text_word_lower_df.show() <br>
            print "remove '.' and ','" <br>
            text_word_lower_df.select(regexp_replace(expr("word"),"[\\.,]","")).show()<br></div>
  </div>
</div>

In [ ]:
#Step 3.5 Explore the explode function


#Optional Advanced

<a id="trans6"></a>
### Step 3.6 - Use the groupBy  and count() function to count the number times each word appears.  
<br>
 <div class="panel-group" id="accordion-212">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-212" href="#collapse1-212">
        Hint </a>
      </h4>
    </div>
    <div id="collapse1-212" class="panel-collapse collapse">
        <div class="panel-body">Use the <i>groupBy</i> DataFrame operation and then use the count() operation. 
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-212" href="#collapse3-212">
        Solution</a>
      </h4>
    </div>
    <div id="collapse3-212" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
    sum_df = text_word_df.groupBy("word").count()<br>
    sum_df.show()</div>
 
   
  </div>
</div>

In [ ]:
#Step 3.6 - Use the groupBy and count() functions

<a id="filter"></a>
## 4. Filter data

The <i>where</i> DataFrame operation creates a new DataFrame fron another DataFrame based on a filter criteria expressed as a boolean.  


Find the number of instances of the word `IBM` in the `sum_df` DataFrame:

In [ ]:
#Step 4
sum_df.select("word","count").where(insert code).show()

<a id="wordfile"></a>
## 5. Analyze text data from a file
In this section, you'll download a file from a URL, create a Data from it, and analyze the text in it.

<a id="wordfile1"></a>
### Step 5.1 - Read the Apache Spark README.md file from Github.  The ! allows you to embed file system commands
<br/>
We remove README.md in case there was an updated version -- but also for another reason you will discover in Lab 2<br/><br/>
Type:<br/>

&nbsp;&nbsp;&nbsp;&nbsp;!rm README.md* -f<br>
&nbsp;&nbsp;&nbsp;&nbsp;!wget https://raw.githubusercontent.com/apache/spark/master/README.md<br>

In [ ]:
# Step 5.1 - Pull data file into workbench
!rm README.md* -f
!wget https://raw.githubusercontent.com/apache/spark/master/README.md

<a id="wordfile1"></a>
### Step 5.2 - Create a DataFrame by reading from the local filesystem and count the number of lines  Here is the [textfile()](http://spark.apache.org/docs/latest/api/python/pyspark.html?highlight=textfile#pyspark.SparkContext.textFile) documentation.<br><br>
 <div class="panel-group" id="accordion-52">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-52" href="#collapse1-52">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-52" class="panel-collapse collapse">
      <div class="panel-body">README.md has been loaded into local storage so there is no path needed.   <i>text()</i> returns a DataFrame.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-52" href="#collapse2-52">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-52" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
          lines = spark.read.text("README.md")<br>
          lines.count()<br></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-52" href="#collapse3-52">
        Optional Advanced</a>
      </h4>
    </div>
    <div id="collapse3-52" class="panel-collapse collapse">
      <div class="panel-body">By default, <i>text()</i> uses UTF-8 format.   Read the file as UNICODE (refer to the docs).</div>
    </div>
  </div>
</div>

In [ ]:
# Step 5.2 - Create DataFrame from data file


# Optional Advanced

<a id="wordfile3"></a>
### Step 5.3 - Use "where" to filter lines that contain "Spark". <br>
We will also take a look at the first line in the newly filtered RDD. <br><br>
 <div class="panel-group" id="accordion-33">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-33" href="#collapse1-33">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-33" class="panel-collapse collapse">
        <div class="panel-body">use the <i>where</i> operation with the <i>like</i> operation</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-33" href="#collapse2-33">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-33" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>          
      Spark_lines = lines.where(lines.value.like("%Spark%"))<br>
      Spark_lines.first()</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-33" href="#collapse3-33">
        Advanced Optional</a>
      </h4>
    </div>
    <div id="collapse3-33" class="panel-collapse collapse">
      <div class="panel-body">There are 20 lines which contain the word "Spark".   Find all lines which contain it when case-insensitive<br></div>
    </div>
  </div>
</div>

In [ ]:
#Step 5.3 - Filter for only lines with word Spark


# Advanced optional

<a id="wordfile4"></a>
### Step 5.4 - Print the number of Spark lines in this filtered DataFrame out of the total number and print the result as a concatenated string.<br/><br/>
 <div class="panel-group" id="accordion-34">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-34" href="#collapse1-34">
        Hint 1</a>
      </h4>
    </div>
    <div id="collapse1-34" class="panel-collapse collapse">
      <div class="panel-body">The <i>print()</i> statement prints to the console.  (Note: be careful on a cluster because a print on a distributed machine will not be seen).  You can cast integers to string by using the <i>str()</i> method.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-34" href="#collapse2-34">
        Hint 2</a>
      </h4>
    </div>
    <div id="collapse2-34" class="panel-collapse collapse">
      <div class="panel-body">Strings can be concatenated together with the + sign.   You can mark a statement as spanning multiple lines by putting a \ at the end of the line.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-34" href="#collapse3-34">
        Solution</a>
      </h4>
    </div>
    <div id="collapse3-34" class="panel-collapse collapse">
      <div class="panel-body">Type:<br>
      print "The file README.md has " + str(Spark_lines.count()) +
      " of " + str(lines.count()) + 
      " lines with the word Spark in it."          
</div>
    </div>
  </div>
</div>

In [ ]:
# Step 5.4 - count the number of lines

<a id="wordfile5"></a>
### Step 5.5 - Now count the number of times the word Spark appears in the original text, not just the number of lines that contain it.
 <div class="panel-group" id="accordion-35">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-35" href="#collapse1-35">
        Hint</a>
      </h4>
    </div>
    <div id="collapse1-35" class="panel-collapse collapse">
      <div class="panel-body">
        Looking back at previous exercises, you will need to: <br>
          &nbsp;&nbsp;&nbsp;&nbsp;1 - Use the <i>explode</i> function on the original DataFrame and split on white space.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;2 - Use the <i>where</i> operation with the <i>like</i> operation to include all instances of Spark. Note Spark will appear in several \"words\"<br>
          &nbsp;&nbsp;&nbsp;&nbsp;3 - Use the <i>count</i> function to count all instances of each word. <br>
          &nbsp;&nbsp;&nbsp;&nbsp;4 - Print the total count<br><br>        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-35" href="#collapse2-35">
        Solution</a>
      </h4>
    </div>
    <div id="collapse2-35" class="panel-collapse collapse">
      <div class="panel-body">
      words = lines.select(explode(split(lines.value," ")).alias("value"))<br>
      Spark_count = words.where(words.value.like("%Spark%")).count()<br>
      print("Number of Spark Mentions:"+ str(Spark_count))<br>
      </div>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-35" href="#collapse3-35">
        Optional Advanced</a>
      </h4>
    </div>
    <div id="collapse3-35" class="panel-collapse collapse">
      <div class="panel-body">Put the entire statement on one line and make the filter case-insensitive.</div>
    </div>
  </div>
</div>

In [ ]:
# Step 5.5


#Optional Advanced

<a id="numfile"></a>
## Step 6 - Perform analysis on a data file
This part is a little more open ended and there are a few ways to complete it.  Scroll up to previous examples for some guidance.  You will download a data file, transform the data, and then average the prices.  The data file will be a sample of tech stock prices over six days. <br>

Data Location: https://raw.githubusercontent.com/JosephKambourakisIBM/SparkPoT/master/StockPrices.csv<br>
The data file is a csv<br/><br/>
Here is a sample of the file:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IBM,159.720001,159.399994,158.880005,159.539993,159.550003,160.350006

We leverage map-reduce to create a generic solution but there are multiple ways to solve this problem.

In [ ]:
# Step 6 - Delete the file if it exists, download a new copy and load it into an RDD
!rm StockPrices.csv -f
!wget https://raw.githubusercontent.com/JosephKambourakisIBM/SparkPoT/master/StockPrices.csv
    
SP = spark.read.text("StockPrices.csv")
SP.collect()

In [ ]:
stocks = spark.read.text("StockPrices.csv")

In [ ]:
stocks_split = stocks.select(split("value",",").alias("value"))
stocks_split.show()

In [ ]:
stock_grid=stocks_split.select(stocks_split.value[0],stocks_split.value[1],stocks_split.value[2],stocks_split.value[3],stocks_split.value[4],stocks_split.value[5])
stock_grid.show()

<a id="summary"></a>
## 7. Summary and next steps

You've learned how to work with data in RDDs to discover useful information.

Dig deeper:
 - [Apache Spark documentation](http://spark.apache.org/documentation.html)
 - [PySpark documentation](http://spark.apache.org/docs/latest/api/python/pyspark.html)

### Authors
Carlo Appugliese is a Spark and Hadoop evangelist at IBM.<br/>
Braden Callahan is a Big Data Technical Specialist for IBM.<br/>
Ross Lewis is a Big Data Technical Sales Specialist for IBM.<br/>
Mokhtar Kandil is a World Wide Big Data Technical Specialist for IBM.<br/>
Joel Patterson is a Big Data Technical Specialist for IBM